@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

/* ##################################################
   ------------ Home page styles ------------
   Strctured for mobile screens first with larger 
   screens handled via media queries at the end
   ################################################## */




/* Create an image with parallax scrolling effect */
.parallax {
  background-image: url('../img/painting/paint_room.jpg');
  height: 600px;    /* Set fixed height for the parallax section */
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;   /* Enable absolute positioning of children */
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.header {
  color: white;
  font-size: 2em;
  text-shadow: 6px 4px 4px rgb(0, 0, 0, 0.5);
  text-align: center;
  padding: 20px;
}




/* Create zig-zag container effect: much harder than it looks */
.content-wrapper {
  overflow: hidden;
}

.mission-container {
  width: 100%;
  background: #272727;
  padding: 4em 0 4em;
}

.repair-container {
  width: 100%;
  background: #707070;
  position: relative;
  padding-top: 10px;
  box-sizing: border-box;
  z-index: 1;
}

.repair-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 16%; /* Adjust this to control the height of the skewed part */
  background: inherit;
  transform: skewY(-3deg); /* Adjust this value to control the angle of the skew */
  transform-origin: 0% 0%;
  z-index: -1;
}

.repair-container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 16%; /* Adjust this to control the height of the skewed part */
  background: inherit;
  transform: skewY(3deg); /* Adjust this value to control the angle of the skew */
  transform-origin: 0% 0%;
  z-index: -1;
  overflow: hidden;
}

.coverage-container {
  width: 100%;
  background: #afafaf;
  padding: 4em 0 4em;
}

.content-left, 
.content-right {
  background-color: inherit;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: white;
  height: 100%;           /* Allow cards to expand based on content */
  max-width: 90%;
  margin: 0 auto;
}

.content-left ul,
.content-right ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}

.content-left img,
.content-right img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  height: auto;
  padding: 10px;
  object-fit: contain;
}

.content-left p,
.content-right p {
  padding: 2% 0;
  text-align: left;
  margin: 10px 0;
}

.content-left hr,
.content-right hr {
  color: #C4C4C4;
}




/* ------------ Styles for Larger Screens ------------ */

@media only screen and (min-width: 768px) {

  /* Show two cards per row */
  .content-left ul,
  .content-right ul {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .content-left ul {
    flex-direction: row-reverse;
  }

  .content-left li,
  .content-right li {
    flex: 1;
    max-width: 45%;
  }
}
