@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');

/* ##################################################
   ------------ General styles ------------
   Strctured for mobile screens first with larger 
   screens handled via media queries at the end
   ################################################## */



   
/* ------------ General styles ------------ */

body, html {
    margin: 0;
    max-width: 1400px;
    padding: 1%;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(240, 240, 240);
}

p, blockquote {
  font-size: 1em;    /* 1em = 16px = browser default */
  line-height: 1.6em;
}




/* ------------ Header/banner styles ------------ */

.header-container {
  text-align: right;
  padding: .8em 1.2em;                /* Applies to top+bottom, left+right */
}

header {
  display: flex;                      /* Structure elements into columns */
  justify-content: space-between;
}

.logo {
  width: 100px;                       /* em=relative, px=absolute units */
}

/* container position=relative, both element position=absolute to stack them */
.header-nav-container nav {
    position: relative;
}

/* Hamburger icon style */
.hamburger-icon {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

.bar {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #000;
  margin: 5px 0;
}

/* Hamburger menu style */
.hamburger-menu {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 1000;
}

.hamburger-menu-items {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  position: fixed;
  width: 60%;
  top: 0;
  right: 0;
  text-align: left;
  background: rgb(62, 69, 73);
  height: 30%;
  padding-top: 3em;
}

.hamburger-menu-items li a {
  color: white;
  text-decoration: none;
  display: block;
  width: 100%;
  padding: 1em 2em;
}

.hamburger-menu-items li:hover {
  background-color: rgb(85, 94, 100);
}

/* Hamburger menu slide-in animation */
.show-menu {
  display: block !important;
}

.slide-in {
  animation: slideIn 0.3s forwards;
}

@keyframes slideIn {
  from { transform: translateX(100%); }
  to { transform: translateX(0); }
}


/* Horizontal site menu style */
.site-menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px;
  z-index: 999;
}

.site-menu-items {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  position: fixed;
  width: auto;
  top: 0;
  right: 0;
  text-align: left;
  background: none;
  height: 100%;
  z-index: 7;
  padding-top: 0;
}

.site-menu-items li a {
  color: black;
  text-decoration: none;
  background-color: inherit;
  text-align: right;
  padding: 1em 2em;
}

.site-menu-items li a:hover {
  background-color: rgb(85, 94, 100);
}




/* ------------ Footer styles ------------ */

#footer {
  margin-top: 20px;
  text-align: right;
  font-size: .7em;
}




/* ------------ Styles for Larger Screens ------------ */

@media only screen and (min-width: 768px) {

  /* Header -- Change to site navigation menu */
  .hamburger-menu {
    display: none;
  }

  .site-menu-items {
    display: flex;
    position: inherit;
  }
}
